.row {
  max-width: 114rem; // max-witdh if there is not available space it has the especified size
  background-color: red;
  margin: 0 auto; // centers the elements inside of another block element
}